<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>India - Productos</title>
        <%- include ('partials/head.html') %>
    </head>
    <body>
        <header>
            <h1>Productos</h1>
        </header>
        <nav>
            <a class="btn" href="/">Inicio</a>
        </nav>
        <section>
            <ul class="no-style">
                <li>
                    <a class="vertical" href="">Conjuntos</a>
                </li>
                <li>
                    <a class="vertical" href="">Abrigos</a>
                </li>
                <li>
                    <a class="vertical" href="">Remeras</a>
                </li>
                <li>
                    <a class="vertical" href="">Jeans</a>
                </li> 
            </ul>
        </section>
        <main id="boxProd">
            <table id="tabla">
                <tr class="filas">
                    <td class="celdas">
                        <ul class="no-style">
                            <li class="prod">
                                <a href="infoProducto" onclick="selectImg();" ><img id="imgChica" class="prod" src="img/foto1.jpg" width="150px" height="200px"></a>
                            </li>
                            <li class="nameProd" name="nameProducto">Conjunto Blanco</li>
                            <li class="nameProd">$000.00</li>
                        </ul>
                    </td>
                    <td class="celdas">
                        <ul class="no-style">
                            <li class="prod">
                                <img class="prod" src="img/foto2.jpg" width="150px" height="200px" usemap="#mapIMG">
                            </li>
                            <li class="nameProd" >
                                Conjunto Rojo
                            </li>
                            <li class="nameProd">
                                $100,00.
                            </li>
                        </ul>
                    </td>
                    <td class="celdas">
                        <ul class="no-style">
                            <li class="prod">
                                <img class="prod" src="img/foto3.jpg" width="150px" height="200px" usemap="#mapIMG">
                            </li>
                            <li class="nameProd">Vestido Negro</li>
                            <li class="nameProd">$000.00</li>
                        </ul>
                    </td>
                    <td class="celdas">

                    </td>
                </tr>
                <tr class="filas">
                    <td class="celdas">

                    </td>
                    <td class="celdas">

                    </td>
                    <td class="celdas">

                    </td>
                    <td class="celdas">

                    </td>
                </tr>
                <tr class="filas">
                    <td class="celdas">

                    </td>
                    <td class="celdas">

                    </td>
                    <td class="celdas">

                    </td>
                    <td class="celdas">

                    </td>
                </tr>
                <tr class="filas">
                    <td class="celdas">

                    </td>
                    <td class="celdas">

                    </td>
                    <td class="celdas">

                    </td>
                    <td class="celdas">

                    </td>
                </tr>
            </table>
        </main>
        <footer>
            Desarrollado por: Nadina Parra.
        </footer>
    </body>

</html>